/* -----------------------------------------------------------------------------
 *
 * Regions: Hero
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Hero Region
 * ----------------------------------------------------------------------------- */

.hero-region {
}

.hero-title {
  margin-top: 0;
}

/* -----------------------------------------------------------------------------
 * Hero Slider
 * ----------------------------------------------------------------------------- */

.hero-slider {
  margin: 0;
}

.hero-slide {
  padding: 0;
}

.hero-navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* -----------------------------------------------------------------------------
 * Hero Entry
 * ----------------------------------------------------------------------------- */

.hero-entry {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-entry .entry-thumbnail {
}

.hero-entry .entry-header {
}

.hero-entry .entry-title {
  margin-top: 0;
}

.hero-entry .entry-summary {
}

.hero-entry .entry-footer {
}
