/* -----------------------------------------------------------------------------
 *
 * Regions: Site
 *
 * ----------------------------------------------------------------------------- */

.site {
  position: relative;
  min-width: 320px;
  padding-bottom: 100px;
  overflow: hidden;
}

/* -----------------------------------------------------------------------------
 * Site Sidepane
 * ----------------------------------------------------------------------------- */

.site-sidepane {
  position: fixed;
  top: 0;
  left: 0;
}

/* -----------------------------------------------------------------------------
 * Site Error
 * ----------------------------------------------------------------------------- */
.site-error {
  margin: 40px 0;
  padding: 60px 0;
  border-bottom: 1px solid var( --color-ghost-gray );
}
