:root {
	--icon-location-marker: '\e934';
	--icon-heart: '\e933';
	--icon-play2: '\e932';
	--icon-star: '\e92a';
	--icon-wifi: '\e92b';
	--icon-close: '\e90d';
	--icon-minus: '\e902';
	--icon-plus: '\e90c';
	--icon-book: '\e900';
	--icon-cart: '\e901';
	--icon-exclamation: '\e903';
	--icon-facebook: '\e904';
	--icon-info: '\e905';
	--icon-linkedin: '\e906';
	--icon-phone: '\e907';
	--icon-search: '\e908';
	--icon-twitter: '\e909';
	--icon-user: '\e90a';
	--icon-youtube: '\e90b';
	--icon-ban: '\e90e';
	--icon-caution: '\e90f';
	--icon-game-controller: '\e910';
	--icon-gem: '\e911';
	--icon-home: '\e912';
	--icon-key: '\e913';
	--icon-laptop: '\e914';
	--icon-lock: '\e915';
	--icon-play1: '\e916';
	--icon-repeat: '\e917';
	--icon-shield: '\e918';
	--icon-thumbs-up: '\e919';
	--icon-tv: '\e91a';
	--icon-users: '\e91b';
	--icon-close1: '\e91c';
	--icon-minus1: '\e91d';
	--icon-plus1: '\e91e';
	--icon-book1: '\e91f';
	--icon-cart1: '\e920';
	--icon-exclamation1: '\e921';
	--icon-facebook1: '\e922';
	--icon-info1: '\e923';
	--icon-linkedin1: '\e924';
	--icon-phone1: '\e925';
	--icon-search1: '\e926';
	--icon-twitter1: '\e927';
	--icon-user1: '\e928';
	--icon-youtube1: '\e929';
	--icon-credit-card: '\e92c';
	--icon-life-ring: '\e92d';
	--icon-locked: '\e92e';
	--icon-money: '\e92f';
	--icon-up-trend: '\e930';
	--icon-checkmark-small: '\e931';
	--icon-chevron-right: '\eaeb';
	--icon-chevron-left: '\eaec';
	--icon-chevron-down: '\eaed';
	--icon-chevron-up: '\eaee';
	--icon-quotes-left: '\e977';
	--icon-quotes-right: '\e978';
	--icon-checkmark1: '\ea10';
	--icon-play: '\ea15';
	--icon-arrow-up2: '\ea3a';
	--icon-arrow-right2: '\ea3c';
	--icon-arrow-down2: '\ea3e';
	--icon-arrow-left2: '\ea40';
	--icon-chevron-right1: '\eaef';
	--icon-chevron-left1: '\eaf0';
	--icon-chevron-down1: '\eaf1';
	--icon-chevron-up1: '\eaf2';
	--icon-caret-down: '\f0d7';
	--icon-caret-up: '\f0d8';
	--icon-caret-left: '\f0d9';
	--icon-caret-right: '\f0da';
}
