/* -----------------------------------------------------------------------------
 *
 * List: Columned
 *
 * ----------------------------------------------------------------------------- */

.list-columned {
  ul&,
  ol&,
  & > ul,
  & > ol {
    page-break-inside: avoid;
    break-inside: avoid;

    @media (--small) {
      column-gap: 64px;
      column-count: 2;
    }
  }
}
