/* -----------------------------------------------------------------------------
 *
 * List: Unstyled
 *
 * ----------------------------------------------------------------------------- */

.list-unstyled {
  ul&,
  ol&,
  & > ul,
  & > ol {
    margin-top: 0;
    padding-left: 0;
    list-style: none;

    & > li {
      margin-bottom: 0;
    }
  }
}
