/* -----------------------------------------------------------------------------
 *
 * Content: Singular
 *
 * ----------------------------------------------------------------------------- */

.singular-content-area {
}

/* -----------------------------------------------------------------------------
 * Singular Entry
 * ----------------------------------------------------------------------------- */

.singular-entry {
}

/* -----------------------------------------------------------------------------
 * Entry Thumbnail
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-thumbnail {
}

/* -----------------------------------------------------------------------------
 * Entry Header
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-header {
}

/* -----------------------------------------------------------------------------
 * Entry Title
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-title {
  margin-top: 0;
}

/* -----------------------------------------------------------------------------
 * Entry Meta
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-meta {
  & > :not( :first-child )::before {
    content: '\2f\20';
  }
}

.singular-entry .entry-meta .singular-entry .entry-meta a {
  text-decoration: none;

  &:hover,
  &:focus {
  }
}

.singular-entry .entry-meta .date {
}

.singular-entry .entry-meta .month {
}

.singular-entry .entry-meta .day {
}

.singular-entry .entry-meta .comma {
}

.singular-entry .entry-meta .year {
}

.singular-entry .entry-meta .author {
}

.singular-entry .entry-meta .categories-links {
}

.singular-entry .entry-meta .tags-links {
}

.singular-entry .entry-meta .comments-popup-link {
}

/* -----------------------------------------------------------------------------
 * Entry Content
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-content {
}

/* -----------------------------------------------------------------------------
 * Entry Footer
 * ----------------------------------------------------------------------------- */

.singular-entry .entry-footer {
}
