/* -----------------------------------------------------------------------------
 *
 * Components: Buttons
 *
 * ----------------------------------------------------------------------------- */

[ role='button' ] {
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 13px 19px;
  border: 1px solid currentcolor;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  color: var( --color-primary );
  font-size: rem( 16px );
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: lh( 16px, 15px );
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  cursor: pointer;

  @media (--large) {
    padding: 18px 40px;
    font-size: rem( 20px );
    line-height: lh( 20px, 22px );
  }

  &:hover,
  &:focus {
    transition: all 0.3s ease;
    border-color: var( --color-primary );
    background-color: var( --color-primary );
    color: var( --color-white );
    text-decoration: none;
  }

  &[ disabled ],
  &.disabled {
    opacity: 0.5;
    background-color: transparent;
    color: var( --color-primary );
    cursor: not-allowed;
  }
}

/* -----------------------------------------------------------------------------
 * Button Sizes
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Button Large
 * ----------------------------------------------------------------------------- */

.btn-large {
  padding-top: 13px;
  padding-bottom: 13px;
}

/* -----------------------------------------------------------------------------
 * Button Medium
 * ----------------------------------------------------------------------------- */

.btn-medium {
  padding: 15px 30px;
}

/* -----------------------------------------------------------------------------
 * Button Small
 * ----------------------------------------------------------------------------- */

.btn-small {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* -----------------------------------------------------------------------------
 * Contextual Variations
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Button Primary
 * ----------------------------------------------------------------------------- */

.btn-primary {
  border-color: var( --color-primary );
  background-color: var( --color-primary );
  color: var( --color-white );

  &:hover,
  &:focus {
    border-color: var( --color-secondary );
    background-color: var( --color-secondary );
    color: var( --color-white );
  }

  &[ disabled ],
  &.disabled {
    border-color: var( --color-primary );
    background-color: var( --color-primary );
    color: var( --color-white );
  }

  &:disabled:hover,
  &:disabled:focus {
    border-color: var( --color-primary );
    background-color: var( --color-primary );
    color: var( --color-white );
  }
}

/* -----------------------------------------------------------------------------
 * Button Secondary
 * ----------------------------------------------------------------------------- */

.btn-secondary {
  border-color: var( --color-secondary );
  background-color: var( --color-secondary );
  color: var( --color-white );

  &:hover,
  &:focus {
    border-color: var( --color-primary );
    background-color: var( --color-primary );
    color: var( --color-white );
  }

  &[ disabled ],
  &.disabled {
    border-color: var( --color-secondary );
    background-color: var( --color-secondary );
    color: var( --color-white );
  }

  &:disabled:hover,
  &:disabled:focus {
    border-color: var( --color-secondary );
    background-color: var( --color-secondary );
    color: var( --color-white );
  }
}

/* -----------------------------------------------------------------------------
 * Block Buttons
 * ----------------------------------------------------------------------------- */

.btn-block {
  display: block;
  width: 100%;

  & + .btn-block {
    margin-top: 16px;
  }
}

/* -----------------------------------------------------------------------------
 * Block Button XS Only
 * ----------------------------------------------------------------------------- */

@media (--small-max) {
  .btn-block-xs-only {
    display: block;
    width: 100%;

    & + .btn-block-xs-only {
      margin-top: 16px;
    }
  }
}

/* -----------------------------------------------------------------------------
 * Block Button SM Only
 * ----------------------------------------------------------------------------- */

@media (--small) and (--medium-max) {
  .btn-block-sm-only {
    display: block;
    width: 100%;

    & + .btn-block-sm-only {
      margin-top: 16px;
    }
  }
}

/* -----------------------------------------------------------------------------
 * Block Button MD Only
 * ----------------------------------------------------------------------------- */

@media (--medium) and (--large-max) {
  .btn-block-md-only {
    display: block;
    width: 100%;

    & + + .btn-block-md-only {
      margin-top: 16px;
    }
  }
}

/* -----------------------------------------------------------------------------
 * Block Button LG Only
 * ----------------------------------------------------------------------------- */

@media (--large) and (--xlarge-max) {
  .btn-block-lg-only {
    display: block;
    width: 100%;

    & + + .btn-block-lg-only {
      margin-top: 16px;
    }
  }
}

/* -----------------------------------------------------------------------------
 * Block Button XL Only
 * ----------------------------------------------------------------------------- */

@media (--xlarge) {
  .btn-block-xl-only {
    display: block;
    width: 100%;

    & + .btn-block-xl-only {
      margin-top: 16px;
    }
  }
}
