/* -----------------------------------------------------------------------------
 *
 * Components: Divider
 *
 * ----------------------------------------------------------------------------- */

.divider {
  position: relative;
  width: 100%;
  margin: 40px auto;
  clear: both;
  overflow: hidden;
  text-align: center;

  hr.& {
    overflow: visible;
  }
}

/* -----------------------------------------------------------------------------
 * Divider Content
 * ----------------------------------------------------------------------------- */

.divider-content {
  display: inline-block;
  position: relative;
  font-size: rem( 18px );
  font-weight: bolder;
  line-height: lh( 18px, 24px );

  @media (--large) {
    font-size: rem( 20px );
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 10000px;
    height: 1px;
    margin-top: -1px;
    background-color: currentcolor;
  }

  &::before {
    right: 100%;
    margin-right: 16px;
  }

  &::after {
    left: 100%;
    margin-left: 16px;
  }
}

/* -----------------------------------------------------------------------------
 * Divider Icon
 * ----------------------------------------------------------------------------- */

.divider-content .icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var( --color-primary );
  color: var( --color-white );
  font-size: rem( 24px );
  line-height: lh( 24px, 48px );
}
