/* -----------------------------------------------------------------------------
 *
 * Components: Legal
 *
 * ----------------------------------------------------------------------------- */
.site-legal {
  &:empty {
    display: none;
  }

  p {
    display: none;
  }

  p.legal-text {
    display: block;
  }

  p br {
    display: none;
  }
}

.legal-annotation {
  font-size: 50%;
  vertical-align: super;
}

.legal-text {
  color: var( --color-black-rock );
  font-family: var( --font-secondary );
  font-size: rem( 12px );
  font-weight: 100;
  line-height: lh( 12px, 14px );
}
