/* -----------------------------------------------------------------------------
 * Alignment.
 * ----------------------------------------------------------------------------- */

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.alignnone {
  float: none;
}

/* -----------------------------------------------------------------------------
 * Clear floats.
 * ----------------------------------------------------------------------------- */

.clear {
  clear: both;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

/* -----------------------------------------------------------------------------
 * Clearfix
 * ----------------------------------------------------------------------------- */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* -----------------------------------------------------------------------------
 * Pull
 * ----------------------------------------------------------------------------- */

.pull-xs-left {
  float: left !important;
}

.pull-xs-right {
  float: right !important;
}

.pull-xs-none {
  float: none !important;
}

@media (--small) {
  .pull-sm-left {
    float: left !important;
  }

  .pull-sm-right {
    float: right !important;
  }

  .pull-sm-none {
    float: none !important;
  }
}

@media (--medium) {
  .pull-md-left {
    float: left !important;
  }

  .pull-md-right {
    float: right !important;
  }

  .pull-md-none {
    float: none !important;
  }
}

@media (--large) {
  .pull-lg-left {
    float: left !important;
  }

  .pull-lg-right {
    float: right !important;
  }

  .pull-lg-none {
    float: none !important;
  }
}

@media (--xlarge) {
  .pull-xl-left {
    float: left !important;
  }

  .pull-xl-right {
    float: right !important;
  }

  .pull-xl-none {
    float: none !important;
  }
}
