/* -----------------------------------------------------------------------------
 * Display
 * ----------------------------------------------------------------------------- */

.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

@media (--small-max) {
  .display-block-xs {
    display: block !important;
  }

  .display-inline-xs {
    display: inline !important;
  }

  .display-inline-block-xs {
    display: inline-block !important;
  }

  .display-none-xs {
    display: none !important;
  }
}

@media (--small) and (--medium-max) {
  .display-block-sm {
    display: block !important;
  }

  .display-inline-sm {
    display: inline !important;
  }

  .display-inline-block-sm {
    display: inline-block !important;
  }

  .display-none-sm {
    display: none !important;
  }
}

@media (--medium) and (--large-max) {
  .display-block-md {
    display: block !important;
  }

  .display-inline-md {
    display: inline !important;
  }

  .display-inline-block-md {
    display: inline-block !important;
  }

  .display-none-md {
    display: none !important;
  }
}

@media (--large) and (--xlarge-max) {
  .display-block-lg {
    display: block !important;
  }

  .display-inline-lg {
    display: inline !important;
  }

  .display-inline-block-lg {
    display: inline-block !important;
  }

  .display-none-lg {
    display: none !important;
  }
}

@media (--xlarge) {
  .display-block-xl {
    display: block !important;
  }

  .display-inline-xl {
    display: inline !important;
  }

  .display-inline-block-xl {
    display: inline-block !important;
  }

  .display-none-xl {
    display: none !important;
  }
}
