/* -----------------------------------------------------------------------------
 * Image replacement.
 * ----------------------------------------------------------------------------- */

.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

.ir::before {
  content: '';
  display: block;
  width: 0;
  height: 150%;
}
